body {
  background-image: url('../public//images/4690.jpg'), linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
